<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="list" resultType="map">
		SELECT
			*
		FROM
			member
	</select>

	<select id="select" resultType="map">
		SELECT
			*
		FROM
			member
		WHERE
		<choose>
			<when test="userNo != null and userNo != ''">
			user_no = #{userNo}
			</when>
			<when test="userId != null and userId != ''">
			user_id = #{userId}
				<if test="password != null and password != ''">
			AND password = sha1(#{password})
				</if>
			</when>
			<otherwise>
			1=0
			</otherwise>
		</choose>
		LIMIT 1
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO member
		(
			user_no
			, user_id
			, password
			, username
			, create_dt
			, create_user
		)
		VALUES
		(
			#{userNo}
			, #{userId}
			, sha1(#{password})
			, #{userName}
			, NOW()
			, #{createUser}
		)
	</insert>

	<insert id="insertSeedWords" parameterType="map">
		INSERT INTO seed
		(
			user_no
			, seq
			, word
		)
		VALUES
		<foreach collection="seedWords" item="item" index="index" separator=", ">
            (#{userNo}, #{index}, #{item})
        </foreach>
	</insert>

	<select id="getSeedList" parameterType="map" resultType="string">
		SELECT
			word
		FROM
			seed
		WHERE
			user_no = #{userNo}
		ORDER BY
			seq ASC
	</select>
</mapper>