@charset "UTF-8";

body{
	overflow-x:auto;
	width:1920px;
}
.navbar-header {
	float:left
}
.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
@media (min-width: 768px) {
    .container {
        width:750px
    }
}
@media (min-width: 992px) {
    .container {
        width:970px
    }
}
@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.home {
	margin-top: 0px;
	padding-right: 0px;
	margin-bottom: 10px;
}
.logo {
	background-image: url('images/hdac_logo.png');
	background-size: 100px;
	display: inline-block;
	width: 100px;
	height: 36px;
	position: relative;
	top: -2px;
	margin-right: 10px;
}
.img logo{
	background-image: url('images/c_logo.png');
}
.view_header{
	width:100%; 
	height:256px; 
	border-width:1px; 
	background:#002561; 
	position:relative
}
.view_header_upper{
	width:100%; 
	height:100px; 
	position:absolute
}
.view_header_lower{
	width:100%; 
	height:156px; 
	margin-top:100px; 
	position:absolute;
}
.view_header_input{
	margin-left:568px; 
	margin-top:20px; 
	width:784px; 
	height:94px;
}
.view_body{
	width:100%; 
	/* height:100%; */
	border-width:1px;
	position:absolute;
}
.view_body_btnarea{
	margin-left:479px; 
	margin-top:50px; 
	width:960px; 
	height:40px;
}
.view_body_tablearea{
	width:960px; 
	height:527px; 
	margin-left:479px; 
	margin-top:50px;
}
.header_logo{
	margin-left:477px; 
	margin-top:28px;
	width:120px; 
	height:45px;
}
.header_btn{
	margin-top:-28px;
	height:11px; 
}
.header_text{
	color:white;
}
.header_input{
	height:47px; 
	border-width:0;
}
.body_btn{
	width:95px; 
	height:34px;
	border-width:0;
	color:white;
}
.login_area{
	margin-left:26%;
}
.login_area_input{
	width:332px; 
	margin-top:5px; 
	margin-left:-4px; 
	background:#f6f6f6;
}
.join_area{
	margin-left:26%;
}
.dlg_content{
	text-align:center; 
	color:#5d5d5d; 
	font-size:20px;
	padding-top:20%;
}
